:root {
    --LightColor1: rgb(202, 241, 222);
    --LightColor2: rgb(235, 242, 255);
    --MediumLightColor1: rgb(109, 141, 255);
    --MediumColor1: rgb(40, 88, 255);
    --MediumDarkColor1: rgb(19, 61, 224);
    --DarkColor1: rgb(0, 30, 146);
    --HighLightColor: red;
}

html {
    word-break:normal;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
    color: black;
}

a {
    color: var(--HighLightColor);
}

h2 {
    font-weight: 900;
    color: var(--HighLightColor);
}

.highlight {
    text-align: center;
}

.highlight div {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    margin: auto;
}

.highlight div:hover {
    transform: scale(1.5);
}

.highlight a{
    padding: 20px 10px;
    background-color: transparent;
    color: var(--MediumColor1);
    font-size: larger;
    font-weight: 900;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.highlight a:hover{
    color: var(--HighLightColor);
}

.logo {
    font-weight: 900;
    font-size: 50px;
    color: var(--HighLightColor);
    text-shadow: 4px 4px 4px black;
}

.logo img {
    height: 40vh;
    max-height: 800px;
    max-width: 50%;
    filter: saturate(500%);
}

#description {
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;
    color: var(--DarkColor1);
}

#description strong{
    color: var(--HighLightColor);
}

body {
    background-color: var(--MediumColor1);
    background-image: linear-gradient( rgba(235, 242, 255, 0.1), rgba(235, 242, 255, 0.8)), url(/Images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.content {
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: calc(100vw - 20px);
    max-width: 1000px;
    outline-width: 5px;
    outline-color: var(--LightColor2);
    outline-style: solid;
    text-align: left;
}

.content h1 {
    max-width: 100%;
    font-size: 2rem;
}

.content p {
    margin: 40px auto;
}

.content h3 {
    margin: 40px auto;
}

.content li {
    margin: 0 0 20px 25px
}

.content ul{
    margin-bottom: 20px;
}

article.content {
    margin-bottom: 69px;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/*Nav styles */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    outline-color: var(--MediumColor1);
    border-radius: 0 0 10px 10px;
}

.sticky + .content {
    padding-top: 42px;
}

#navbar {
    transition: all 0.3s ease;
    max-width: 1000px;
    text-align: center;
    padding: 0px;
    position: sticky;
}

.nav__list {
    width: 100%;
    max-width: 1000px;
}

#myLinks {
    margin: auto;
}

.nav__list a{
    display: block;
    padding: 8px 12px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--MediumColor1);
}

.nav__list-item {
    display: inline-block;
}

.nav__list-item a {
    padding: 20px 10px;
}

.nav__list-item a:hover{
    color: var(--HighLightColor);
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.nav__list-item a.navtitle{
    display: none;
}

.nav__list-item a.active{
    font-weight: 900;
}

#nav__icon{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: var(--MediumDarkColor1);
    margin: 9px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border: 5px solid var(--MediumLightColor1);
}

.dropdown-content a {
    padding: 7px 11px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    border: 5px solid white;
}

.dropdown-content a:hover {
    border: 5px solid var(--MediumLightColor1);
    background-color: var(--LightColor2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    padding: 0;
}

.dropdown-arrow {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--MediumLightColor1);
}

.dropdown:hover .dropdown-arrow {
    border-top: 5px solid var(--HighLightColor);
}


/* end of Nav styles */

img {
    display: inline-block;
    max-width: 600px;
}

strong {
    font-weight: 900;
}

small {
    color: var(--MediumLightColor1);
}

.tarjous {
    border: 5px solid var(--HighLightColor);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

form input{
    width: 100%;
    padding: 10px 20px;
    border: 5px solid var(--MediumLightColor1);
    border-radius: 10px;
}

form label{
    margin: auto;
}

form input[type=radio]{
    width: 1.5rem;
    margin: auto;
}
form input[type=checkbox]{
    width: 1.5rem;
    margin: auto;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    outline-color: var(--MediumLightColor1);
    outline-style: solid;
    outline-width: 5px;
    display: inline-block;
    margin: 25px;
    background-color: white;
    font-weight: 900;
    cursor: pointer;
    color: black;
}

.form-buttons {
    text-align: center;
}

form button:hover {
    background-color: var(--LightColor2);
}

form textarea{
    width: 100%;
    padding: 10px 20px;
    border: 5px solid var(--MediumLightColor1);
    border-radius: 10px;
}


.yhteystiedot p {
    margin: 10px;
}

.form-question {
    margin-bottom: 20px;
}

.image-container {
    display: block;
    max-width: 100%;
}

.image-container img {
    max-width: 100%;
    object-fit: contain;
}

.image-container-no-large {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 5fr;
}

.grid-img {
    padding: 30px;
    text-align: center;
}

footer a{
    max-width: 80%;
    margin: 10px;
    width: 400px;
}

footer img{
    max-width: 100%;
    width: 300px;
}

.yhteistyossa {
    margin: 100px 20px;
}

@media only screen and (max-width: 960px){

    .logo img {
        max-width: 80%;
    }

    body {
        padding-top: 20px;
        background-image: linear-gradient( rgba(235, 242, 255, 0.1), rgba(235, 242, 255, 0.8));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    article.content{
        margin-bottom: 25px;
    }

    /*Nav styles */
    #navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        background: transparent;
        outline-width: 5px;
        outline-color: var(--MediumColor1);
        outline-style: none;
        margin: 10px 0;
        border-radius: 10px 0 0 10px;
        text-align: right;
        transition: none ;
    }

    #myLinks {
        display: none;
        text-align: right;
        padding: 5px;
        overflow-y: auto;
        max-height: 80vh;
    }

    #nav__icon{
        display: inline-block;
        cursor: pointer;
        background-color: var(--LightColor2);
        padding-right: 20px;
        border-radius: 10px 0 0 10px;
    }

    .nav__list-item {
        display: block;
        width: fit-content;
        width: 100%;
    }

    .nav__list-item a {
        padding: 1.0rem;
        margin: 0.5rem;
        background-color: var(--LightColor2);
        border-radius: 10px;
    }

    .nav__list-item a:hover{
        color: var(--HighLightColor);
        transition: all 0.3s ease;
        transform: scale(1.1);
    }

    .nav__list-item a.navtitle{
        display: block;
    }

    .dropdown-content {
        left: 0;
        right: 0;
        margin: auto;
        overflow-y: auto;
        max-height: 80vh;
    }

    .dropdown-content a {
        padding: 1rem;
        margin: 0.1rem;
    }
    /* end of Nav styles */


    .grid {
        display: block;
    }

    .grid-img {
        padding: 0;
        text-align: center;
    }

    .grid-img img {
        max-height: 50vh;
    }
    
    .image-container-no-large {
        display: block;
        max-width: 100%;
    }

    .image-container-no-large img {
        max-width: 100%;
        max-height: 50vh;
        object-fit: contain;
        height: auto;
    }

}