:root {
    --LightColor1: rgb(202, 241, 222);
    --LightColor2: rgb(235, 242, 255);
    --MediumColor1: rgb(109, 141, 255);
    --LogoColorLight: rgb(40 88 255);
    --LogoColorMedium: rgb(19 61 224);
    --LogoColorDark: rgb(0 30 146);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'PT Serif', serif;
}

.container {
    height: 100vh;
    display: grid;
    background-color: var(--MediumColor1);
    background-image: linear-gradient( rgba(235, 242, 255, 0.1), rgba(235, 242, 255, 0.8)), url(/Images/outdoor-street-car-van-city-paris-429420-pxhere.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: auto;
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    max-width: 100vh;
}

img {
    display: inline-block;
    max-width: 600px;
}
@media only screen and (min-width: 960px){
    img {
        width: 80vh;
    }

}